.borde {
    outline: 0;
    border-width: 0 0 2px;
    width: 100%;
    height: 100%;
}

input:focus {
    border-color: rgb(218, 31, 7)
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

body {
    background: #FCE9E0;
}

#fondo {
    background: white;
}

hr {
    width: 100%;
    height: 10px;
    background: #FFAE72;
}

img{
    width: 90%;
}