.imgLogin{
    width: 75%;
    height: 120px;
    border-radius: 10%;
    /* -webkit-box-shadow: 13px 10px 20px 4px rgb(255, 255, 255);
    -moz-box-shadow: 13px 10px 20px 4px rgb(255, 255, 255); */
    box-shadow: 2px 2px 20px 2px rgb(255, 255, 255);
}
.form-rounded{
    border-radius: 1rem;
}


.bgLogin{
    /* background-size: 25px 50px; */
    background-size: 100% 100%;
    /* opacity: 1 !important; */
}

.bgFormLogin{
    background-color: rgba(0, 0, 0, 0.315);
    position:relative;
    color: white;
    z-index:1;
    font-weight: bolder;
}